<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8>
<meta name=viewport content="width=device-width,initial-scale=1">
<title>cq-frontend</title>
<link href="/css/app.1e631927e906cf4f832aea6c311b5fd3.css"
	rel=stylesheet>
</head>
<body>
	<div id=app></div>
	<script type=text/javascript
		src=/js/manifest.2ae2e69a05c33dfc65f8.js></script>
	<script type=text/javascript
		src=/js/vendor.8b944087d0ffa4e7aa4d.js></script>
	<script type=text/javascript src=/js/app.7ceb3e33380d8e3766ba.js></script>
</body>
</html>